@import url("./shade.css");
@import url("./startmenu.css");
@import url("./actioncenter.css");
@import url("./taskbar.css");
@import url("./bounds.css");
@import url("./colored.css");

#ArcShell {
  --border: var(--win-border);
  background-color: transparent;
  z-index: 100000000000000;
  pointer-events: none;
}

#ArcShell div.colored {
  --border: var(--accent-light-transparent) 1px solid;
}

#ArcShell div.body {
  pointer-events: none;
}

#ArcShell * {
  transition: all 0.3s, color 0.1s, pointer-events 0s;
}

#ArcShell div.shell {
  display: flex;
  flex-direction: var(--direction);
  gap: 0px;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#ArcShell div.shell div.primary {
  display: flex;
  flex-direction: var(--primary-direction);
  height: calc(100% - var(--size-secondary));
  width: 100%;
  justify-content: space-between;
  pointer-events: none;
  z-index: 1;
}

#ArcShell div.shell div.secondary {
  width: 100%;
  height: var(--size-secondary);
  pointer-events: none;
  z-index: 2;
}

#ArcShell div.shell.vertical div.secondary {
  width: var(--size-secondary);
  height: 100%;
}

#ArcShell div.shell.vertical div.primary {
  height: 100%;
  width: calc(100% - var(--size-secondary));
}
