#ArcShell button.shade {
  display: none;
  border: none;
  padding: 0;
  cursor: default;
  background-color: transparent;
  pointer-events: initial;
}

#ArcShell button.shade.present {
  display: block;
}