@import url("./startmenu/position.css");
@import url("./startmenu/close.css");
@import url("./startmenu/leftpane.css");
@import url("./startmenu/rightpane.css");
@import url("./startmenu/toppane.css");
@import url("./startmenu/bottompane.css");

#ArcShell div.startmenu {
  --closed-transform: 40px;
  --docking-margin: 10px;
  width: 420px;
  height: 490px;
  margin: var(--docking-margin);
  border: var(--glass-alt-bg) 1px solid;
  border-radius: var(--win-border-rad);
  background-color: var(--startmenu-bg);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  box-shadow: 0px 5px 15px 5px #0003;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#ArcShell div.shell div.startmenu.opened {
  transform: unset;
  opacity: 1;
  pointer-events: initial;
}
