@import url("./taskbar/docked.css");
@import url("./taskbar/vertical.css");
@import url("./taskbar/startbutton.css");
@import url("./taskbar/openedapps.css");
@import url("./taskbar/systemarea.css");

#ArcShell div.taskbar {
  width: var(--maximized-size);
  height: var(--maximized-size);
  margin: var(--docking-margin);
  padding: 4px;
  border-radius: var(--win-border-rad);
  box-sizing: border-box;
  background-color: var(--glass-bg);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  border: var(--border);
  display: flex;
  /* overflow: hidden; */
  pointer-events: initial;
}
