#ArcShell div.actioncenter div.quick-settings {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#ArcShell div.actioncenter div.quick-settings div.group {
  display: flex;
  border-radius: var(--button-border-rad);
  background-color: var(--button-glass-bg);
}

#ArcShell div.actioncenter div.quick-settings div.group button:first-child {
  border-top-left-radius: var(--button-border-rad);
  border-bottom-left-radius: var(--button-border-rad);
}

#ArcShell div.actioncenter div.quick-settings div.group button:last-child {
  border-top-right-radius: var(--button-border-rad);
  border-bottom-right-radius: var(--button-border-rad);
}

#ArcShell div.actioncenter div.quick-settings div.group:hover button:not(:hover) {
  filter: brightness(80%);
  z-index: 0;
}

#ArcShell div.actioncenter div.quick-settings div.group button {
  width: 40px;
  height: 40px;
  border-radius: 0;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
}

#ArcShell div.actioncenter div.quick-settings div.group button:hover {
  scale: 1.2;
  border-radius: var(--button-border-rad);
  background-color: var(--button-bg);
}

#ArcShell div.actioncenter div.quick-settings div.group button:active {
  transform: unset;
  opacity: 1;
  scale: 1.1;
}

#ArcShell div.actioncenter div.quick-settings div.group button.active {
  background-color: var(--accent);
  color: var(--accent-dark);
  z-index: 50;
}

#ArcShell div.actioncenter div.quick-settings div.group button.active:hover {
  color: var(--accent-dark);
}

#ArcShell div.actioncenter div.quick-settings div.group button.active:active {
  background-color: var(--accent);
}
