#ArcShell div.taskbar div.opened-apps {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  height: 35px;
}

#ArcShell div.taskbar div.opened-apps button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 0;
  color: var(--fg);
  background-color: transparent;
  font-size: 13px;
  margin: 0;
}

#ArcShell div.taskbar div.opened-apps button:hover {
  background-color: var(--button-glass-bg);
}

#ArcShell div.taskbar div.opened-apps button.activated {
  background-color: var(--button-glass-hover-bg);
}

#ArcShell div.taskbar div.opened-apps button:active {
  background-color: var(--button-glass-active-bg);
}

#ArcShell div.taskbar div.opened-apps button img {
  height: 24px;
}

#ArcShell div.taskbar div.opened-apps button.labels {
  width: fit-content;
  padding: 0 10px;
}

#ArcShell div.taskbar div.opened-apps button.closing {
  opacity: 0;
  width: 0 !important;
  overflow: hidden;
}