@import url("./systemarea/tray.css");
@import url("./systemarea/actioncenter.css");

#ArcShell div.taskbar div.system-area {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 35px;
  color: var(--fg);
}
