#ArcShell div.taskbar.vertical,
#ArcShell div.taskbar.vertical div.system-area,
#ArcShell div.taskbar.vertical div.tray {
  flex-direction: column;
}

#ArcShell div.taskbar.vertical div.system-area {
  margin-left: 0;
  margin-top: auto;
  height: fit-content;
}

#ArcShell div.taskbar.vertical div.system-area div.clock {
  font-size: 12px;
}

#ArcShell div.taskbar.vertical div.opened-apps {
  padding: 10px 0;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

#ArcShell div.taskbar.vertical div.opened-apps button {
  width: 35px;
  height: 35px;
}

#ArcShell div.taskbar.vertical div.opened-apps span {
  display: none;
}
