#ArcShell div.notification div.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 32px;
  margin-top: 15px;
}

#ArcShell div.notification div.buttons button {
  flex-grow: 1;
  margin: 0;
  background-color: var(--button-glass-bg);
  height: 32px;
}

#ArcShell div.notification div.buttons button:hover {
  background-color: var(--button-glass-hover-bg);
}
#ArcShell div.notification div.buttons button:active {
  background-color: var(--button-glass-active-bg);
}

#ArcShell div.notification.collapsed div.buttons {
  display: none;
}
