#ArcShell div.notification img {
  height: 48px;
}

#ArcShell div.notification div.content {
  width: calc(100% - 58px);
}

#ArcShell div.notification.no-image div.content {
  width: 100%;
}

#ArcShell div.notification p.message {
  margin-bottom: 0;
  margin-top: 5px;
}
