#ArcShell div.actioncenter div.notification div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ArcShell div.actioncenter div.notification div.header div.right {
  display: flex;
  align-items: center;
  gap: 5px;
}

#ArcShell div.actioncenter div.notification button.material-icons-round {
  padding: 0;
  font-size: 20px;
  background-color: transparent;
  margin: 0 !important;
  max-width: 20px;
}

#ArcShell div.actioncenter div.notification span.timestamp {
  opacity: 0.5;
  margin-right: 5px;
}

#ArcShell div.actioncenter div.notification.collapsed span.timestamp {
  margin-right: 0;
}
