/* div.shell:not(.docked).tb- div.push-notification {
  margin-bottom: 0;
}
 */

div.tb- div.push-notification {
  bottom: 0;
}

div.shell.docked.tb- div.push-notification {
  bottom: 10px;
}

div.shell.docked.tb-vertical-right div.push-notification {
  right: 10px;
}

div.shell:not(.tb-) div.push-notification {
  bottom: 10px;
}

div.tb-vertical-right div.push-notification {
  right: 0;
}

div.tb-vertical-right div.push-notification.show {
  margin-left: 0;
}
