#ArcShell div.taskbar div.system-area button.action-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: var(--button-border-rad);
  background-color: var(--button-glass-bg);
  color: var(--fg);
  font-size: 20px;
  margin: 0;
}

#ArcShell div.taskbar div.system-area button.action-center:hover {
  background-color: var(--button-glass-hover-bg);
}

#ArcShell div.taskbar div.system-area button.action-center:active {
  background-color: var(--button-glass-active-bg);
}

#ArcShell div.taskbar div.system-area button.action-center.activated {
  background-color: var(--accent);
  color: var(--accent-darkest);
}
