#ArcShell div.taskbar div.system-area div.tray {
  display: flex;
  align-items: center;
  gap: 5px;
  width: calc(40px * 4 - 5px);
  min-width: unset;
  overflow: hidden;
}

#ArcShell div.taskbar div.system-area div.tray.opened {
  width: fit-content;
  min-width: fit-content;
}

#ArcShell div.taskbar div.system-area div.tray > div.icon,
#ArcShell div.taskbar div.system-area div.tray > div.icon > button.trigger {
  margin: 0;
  padding: 0;
  width: 35px;
  min-width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#ArcShell div.taskbar div.system-area div.tray > div.icon > button.trigger.active {
  background-color: var(--accent-transparent) !important;
  opacity: 1 !important;
}

#ArcShell div.taskbar div.system-area div.tray > div.icon > button.trigger:hover {
  background-color: var(--button-glass-hover-bg);
}

#ArcShell div.taskbar div.system-area div.tray > div.icon > button.trigger:active {
  background-color: var(--button-glass-active-bg);
}

#ArcShell div.taskbar div.system-area div.tray > button.toggle {
  font-size: 24px;
  color: var(--fg);
  transition: background-color 0.3s, color 0.1s;
  text-align: center;
  min-width: 35px;
  margin: 0;
  padding: 0;
  height: 35px;
  background-color: transparent;
}

#ArcShell div.taskbar div.system-area div.tray > button.toggle:hover {
  background-color: var(--accent-transparent);
}

#ArcShell div.taskbar div.system-area div.tray.opened > button.toggle {
  transform: rotate(180deg);
}

#ArcShell div.taskbar div.system-area div.tray > div.icon > button.trigger img {
  height: 20px;
}

#ArcShell div.taskbar div.system-area div.tray > div.icon > div.popup {
  --w: 150px;
  --h: 200px;
  position: absolute;
  top: calc(0px - var(--h) - 10px);
  width: var(--w);
  height: var(--h);
  background-color: var(--glass-bg);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  border: var(--border);
  border-radius: var(--win-border-rad);
  margin-top: 20px;
  scale: 0.9;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

#ArcShell div.taskbar div.system-area div.tray > div.icon > div.popup.visible {
  opacity: 1;
  margin-top: 0;
  pointer-events: initial;
  scale: 1;
}
