#ArcShell div.taskbar div.opened-apps.centered {
  position: absolute;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 60vw !important;
  margin: 0 20vw !important;
  overflow: scroll;
  display: flex;
  align-items: center;
}

#ArcShell div.taskbar div.opened-apps.centered button {
  min-width: 35px;
}

#ArcShell div.taskbar div.opened-apps.centered button.labels {
  min-width: fit-content !important;
}

#ArcShell div.taskbar:not(.vertical) div.opened-apps.centered {
  left: 0px;
  width: 100%;
}
